@green: lightgreen;

.head {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    grid-template-rows: auto 200px;
    justify-content: space-around;
    
}

h1 {
    grid-column: 1;
    background-color: @green;
    padding: 50px 100px 50px 100px;
    margin-left: auto;
    margin-right: auto;
}